<%= form_tag "/clip", class: "form-horizontal" do %>
  <h3>レシピサービスからレシピを取得</h3>
  <p>現在、<a href="http://cookpad.com">Cookpad</a>、<a href="http://recipe.rakuten.co.jp">楽天レシピ</a>、<a href="http://www.orangepage.net">オレンジページ.net</a>に対応しています。</p>
  <div class="form-group">
    <%= label_tag :clip_url, "URL", class: "control-label col-md-2" %>
    <div class="col-md-8">
      <%= text_field_tag :clip_url, nil, class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= submit_tag "取得する", class: "btn btn-success", data: {toggle: "modal", target: "#modal", backdrop: "static"} %>
    </div>
  </div>
<% end %>
<%= render 'modal_dialog' %>