<% if @recipe.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @recipe.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @recipe, html: {class: "form-horizontal"} do |f| %>
<%= f.hidden_field :id %>
<h2>レシピ情報</h2>
<div class="recipe">
  <div class="form-group">
    <%= f.label :title, "タイトル", {class: "col-md-2 control-label"} %>
    <div class="col-md-10">
      <%= f.text_field :title, {class: "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, "概要", {class: "col-md-2 control-label"} %>
    <div class="col-md-10">
      <%= f.text_area :description, {class: "form-control", rows: 5} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :servings_for, "分量", {class: "col-md-2 control-label"} %>
    <div class="col-md-10">
      <%= f.text_field :servings_for, {class: "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "画像", {class: "col-md-2 control-label"} %>
    <div class="col-md-10">
      <% if @recipe.image? %>
        <%= image_tag @recipe.image_url %>
        <div>
          <%= f.check_box :remove_image %>
          <%= f.label :remove_image, "画像を削除" %>
          <%# レシピの取得に（部分的に）失敗した場合、新規レコードで画像が存在している場合がある %>
          <%= f.hidden_field :image_cache %>
        </div>
      <% else %>
        <%= f.file_field :image, class: "filestyle", 
          data: {buttonText: "", size: "sm", icon: "true", 
          buttonBefore: "true", placeholder: "画像ファイルを選択"}  %>
      <% end %>
    </div>
  </div>
  <h2>材料</h2>
  <div class="recipe-ingredients sortable items">
    <%= f.fields_for :recipe_ingredients do |rif| %>
      <%= render 'recipe_ingredient_form', f: rif %>
    <% end %>
    <%= link_to_add_field "材料を追加", f, :recipe_ingredients %>
  </div>
  <h2>つくりかた</h2>
  <div class="recipe-steps sortable items">
    <%= f.fields_for :recipe_steps do |rsf| %>
      <%= render 'recipe_step_form', f: rsf %>
    <% end %>
    <%= link_to_add_field "ステップを追加", f, :recipe_steps %>
  </div>
  <div class="row mar-top-20">
    <div class="col-md-6">
      <%= f.submit (f.object.new_record? ? "作成する" : "更新する"), class:"btn btn-lg btn-warning btn-block" %>
    </div>
    <div class="col-md-6">
      <%= link_to "キャンセルする", @recipe, class:"btn btn-lg btn-default btn-block", role: "button" %>
    </div>
  </div>
</div>
<% end %>
