<div class="recipe-indegredient form-group item">
    <%= f.hidden_field :id %>
    <%= f.label :row_order %>
    <%= f.text_field :row_order, class: 'row_order' %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :quantity_for %>
    <%= f.text_field :quantity_for %>
    <%= link_to_remove_field "削除", f %>
</div>