<div class="recipe-step form-group item">
    <%= f.hidden_field :id %>
    <%= f.label :row_order %>
    <%= f.text_field :row_order, class: 'row_order' %>
    <%= f.label :text %>
    <%= f.text_area :text %>
    <%= f.file_field :image %>
    <%= f.check_box :remove_image %>
    <%= image_tag f.object.image_url if f.object.image? %>
    <%= link_to_remove_field "削除", f %>
</div>