<div class="row">
  <div class="col-md-3">
    <div class="left-sidebar">
      <div class="btn-group-vertical btn-block" role="group">
        <a href="<%= edit_recipe_path %>" class="btn btn-warning btn-lg" role="button">レシピを編集する</a>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
    <div class="col-md-12">
      <h1><%= @recipe.title %></h1>
    </div>
    <div class="col-md-5">
      <div class="main-photo">
        <% if @recipe.image.present? %>
          <%= image_tag @recipe.image_url %>
        <% else %>
          <%= holder_tag('280x210', '画像なし', 'gray') %>
        <% end %>
      </div>
    </div>
    <div class="col-md-7">
      <h2>材料<span class="servings_for"><%= "（#{@recipe.servings_for}）" unless @recipe.servings_for.blank? %></span></h2>
      <table class="table">
      <% @recipe.recipe_ingredients.each do |ingredient| %>
        <tr>
          <td><%= ingredient.name %></td>
          <td><%= ingredient.quantity_for %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"><h2>つくりかた</h2></div>
    <% @recipe.recipe_steps.each do |step| %>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag(step.image_url(:show_thumb)) if step.image.present? %>
          <div class="caption">
          <h4><%= step.row_order %></h4>
            <p><%= step.text %></p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @recipe.ref_url.present? %>
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-info">
            <p>このレシピのオリジナルはこちらです。</p>
            <p><%= link_to @recipe.ref_url, @recipe.ref_url %></p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>